<!doctype html>
<html lang="it" ng-app="id3king">

<head>
    <meta charset="utf-8">

    <title>id3king Enhanced</title>
    <meta name="description" content="id3king Enhanced">
    <meta name="author" content="Luxor001">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap.min.js"></script>

    <script type="text/javascript" src="scripts/app.js"></script>
</head>
<body ng-controller="dataController">
  <div class="col-md-10 pull-left">
      <div class="mainHeader">
        <div>
        <h1>id3king Enhanced</h1>
      </div>
      </div>
      <div class="mainContainer relative">
        <div class="click filterOpener absolute">
          <div class="glyphicon glyphicon-filter middle" ng-click="openFiltersMenu = !openFiltersMenu">
          </div>
        </div>
          <header>
              <table ng-if="itinerari" class="table">
                  <thead>
                    <th class="w10 click" ng-click="setOrderBy('ID')">ID</th>
                    <th class="w15 click" ng-click="setOrderBy('Data')">DATA</th>
                    <th class="w15 click" ng-click="setOrderBy('Durata')">DURATA</th>
                    <th class="w20 click" ng-click="setOrderBy('Lunghezza')">LUNGHEZZA</th>
                    <th class="w15 click" ng-click="setOrderBy('Dislivello')">DISLIVELLO</th>
                    <th class="w20 click" ng-click="setOrderBy('Difficolta')">DIFFICOLTÁ</th>
                    <th class="w50 click" ng-click="setOrderBy('NomeLocalita')">LUOGO</th>
                    <th class="w100">DESCRIZIONE</th>
                  </thead>
                </table>
          </header>
              <section>
                <table class="table table-striped">
                  <tbody>
                      <tr ng-repeat="itinerario in itinerari | orderBy:currentOrdering:reverse track by $index">
                          <td class="w10"><a ng-href="{{itinerario.Link}}">{{itinerario.ID | numberFixedLen:3}}</a></td>
                          <td class="w15">{{itinerario.Data | date:'dd/MM/yyyy'}}</td>
                          <td class="w15">{{itinerario.Durata | time}}</td>
                          <td class="w20">{{itinerario.Lunghezza / 1000}}&nbspKm</td>
                          <td class="w15">{{itinerario.Dislivello}}&nbspm</td>
                          <td class="w20">{{itinerario.Difficolta}}</td>
                          <td class="w50">{{itinerario.NomeLocalita}}</td>
                          <td class="w100 text-left">{{itinerario.Descrizione}}</td>
                      </tr>
                  </tbody>
              </table>
            </section>
      </div>
  </div>
  <aside class="col-md-2 pull-left">
    <nav>

    </nav>
    <filters-bar expand="openFiltersMenu">

    </filters-bar>
  </aside>
</body>
</html>
